:root {
  --gradient: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

:root {
  --primary-color: #2e6185;
  --text-p: #27496d;
  --section-bg: #f3f5fa;
  --hover: #2e6185;
  --hover-icon: #fcb12e;
  --hover-active: #b4cdf3;
  --white: #fff;
  --border-button: #3e7fae;
  --shadow: #aebdca;
  --line-section: #ddd;
  --footer-p: #5e5e5e;
  --list-footer: #a5a5a5;
  --icon-contact: #e7f5fb;
  --biru-muda: #2bacc7;
}

:root {
  --firstfont: ;
  --secondfont: ;
}
/*--------------------------------------------------------------------------------------------------------------------
# [DONE] General - style yang ada di tag body, a, dan h1-h6
----------------------------------------------------------------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif; /* Font 1 - Open Sans*/
  color: var(--text-p); /* Warna 1 - Warna tulisan keterangan <p> */
}

a {
  color: var(--primary-color); /* Warna 2 - Warna tulisan sub judul <a> */
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  /* Warna 3 - Perubahan warna pada tulisan jika mouse ada di atas tulisannya (saya liat di F.A.Q ketika 1 question
  diketik dan cursornya dipada tulisannya, dan perubahan tulisan itulah yang terjadi pada syntax ini) */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif; /* Font 2 - Josh*/
}

/*--------------------------------------------------------------------------------------------------------------------
# [DONE] Preloader - Pas buka websitenya, ada tampilan loading
----------------------------------------------------------------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--primary-color); /* Warna 4 - Warna background ketika laading awal baru buka website*/
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--primary-color); /* Warna object laoding yang ada di tengah tengah (yang berputar-putar itu) */
  border-top-color: var(--white); /* Warna object laoding atas yang ada di tengah tengah (yang berputar-putar itu) */
  border-bottom-color: var(--white); /* Warna object laoding bawah yang ada di tengah tengah (yang berputar-putar itu) */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------------------------------------------------------------
# [DONE] Back to Top - Buat scroll otomatis ke atas (kayaknya ga bakalan di gunain)
----------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------
# [DONE] Header
--------------------------------------------------------------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 12px 0; /* Padding Header */
  background-color: var(--primary-color);
}

#header.header-scrolled, /* Supaya headernya ikut (Header scroll) pas di scroll */
#header.header-inner-pages {
  background: var(--primary-color) s; /* Warna - Untuk header aja */
}

#header .logo {
  font-size: 18px; /* Ukuran/Size Judul Website */
  margin: 0;
  padding: 0;
  /* line-height: 1; */
  font-weight: 600; /* 600 = Semi bold */
  letter-spacing: 1px; /* Jarak antar huruf di judul website (2px) */
  text-transform: capitalize; /* Format judul website kapital */
}

#header .logo a {
  color: var(--white); /* Warna [judul website]*/
  padding: 0 0 0 0; /* Padding judul website*/
}

#header .logo img {
  max-height: 40px; /* Ukuran maksimal gambar logo [ukuran logo] 40px*/
  padding: 0 12px 0 0;
}

/*--------------------------------------------------------------------------------------------------------------------
# [DONE] Navigation Menu
--------------------------------------------------------------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  /* style dari objek akan berubah jika objeknya di klik */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px;
  margin-left: 5px;
  font-size: 16px; /* ukuran tulisan */
  font-weight: 500; /* ketebalan tulisan, 500 = Medium mendekati semi bold */
  color: var(--white); /* warna tulisan pada navbar (normal/ketika tidak di apa apain)*/
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 20px;
}

.navbar a i,
.navbar a:focus i {
  /* ukuran panah bawah dropdwown */
  font-size: 16px;
  line-height: 0;
  margin-left: 4px; /* Jarak panah bawah ke tulisan sebelah kiri nya */
}

.navbar a:hover, /* style dari objek akan berubah jika mouse ada di objeknya (tidak di klik)*/
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--hover); /* Warna dari tulisan pada navbar/menu berubah jika mouse ada di tulisannya (tidak di klik) */
  background: var(--white);
}

.navbar .getstarted, /* tombol get started */
.navbar .getstarted:focus {
  padding: 6px 20px;
  margin-left: 12px; /* jarak tombol/button get started ke tulisan sebelah kiri */
  border-radius: 20px; /* border radius dari tombol get started */
  color: var(--white); /* Warna tulisan get started */
  font-size: 16px; /* Ukuran tulisan get started */
  border: 2px solid var(--border-button); /* Warna border get started */
  font-weight: 600; /* Ketebalan tulisan get started */
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: var(--hover);
  background: var(--white); /* Tombol get started jadi berubah warna ketika mouse ada di tombolnya (tidak di klik) */
  font-weight: 600;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--white);
  box-shadow: 0px 0px 30px var(--shadow);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px; /* Padding dropdown */
  font-size: 14px; /* Ukuran dari tulisan yang ada di dropdown */
  text-transform: none;
  font-weight: 500; /*  Ketebalan dari tulisan yang ada di dropdown */
  color: var(--text-p); /* Waarna tulisan dari drop down */
}

.navbar .dropdown ul a i {
  font-size: 12px; /* Ukuran panah kanan yang ada di dalam dropdown */
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: var(--hover); /* Perubahan warna jika tulisan di dalam dropdown ada mouse di atasnya */
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/* [TO DO - karena ini tampilan untuk mobile] Responsive - Ini adalah tampilan jika websitenya digunakan pada mobile atau handphone/hp
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--white);
  font-size: 24px; /* Ukuran garis 3 buat nampilin menu */
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: var(--white); /* Warna garis 3 */
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--primary-color); /* Background dibelakang navbar mobile */
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 0 0;
  border-radius: 10px;
  background-color: var(--white); /* Warna buat background navbar*/
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--hover); /* Warna ketika dalam menu navbarnya */
  margin: 10px;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--hover-active);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 10px;
  color: var(--hover); /* Warna tombol masuk pada nav bar si, di desktop ga keliatan */
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--primary-color);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 45px 0;
  overflow: hidden;
  position: relative;
}

.section-bg {
  background-color: var(--section-bg);
}

.section-title {
  text-align: center;
  padding-bottom: 35px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0px;
  position: relative;
  color: var(--text-p);
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--biru-muda); /* Garis pada judul secction */
  display: inline-block;
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin-bottom: 25px;
  padding-bottom: 20px;
  position: relative;
  color: var(--text-p);
}

.section-title p::before {
  content: "";
  position: absolute;
  display: block;
  width: 640px;
  height: 1px;
  background: var(--line-section);
  bottom: 1px;
  left: calc(50% - 320px);
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: var(--section-bg);
}

.team .member {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.team .member .pic {
  border-radius: 4px;
  overflow: hidden;
}

.team .member img {
  transition: all ease-in-out 0.4s;
}

.team .member:hover img {
  transform: scale(1.1);
}

.team .member .member-info {
  position: absolute;
  bottom: -80px;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--text-p);
  position: relative;
  padding-bottom: 10px;
}

.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #0d12fc;
  bottom: 0;
  left: calc(50% - 25px);
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: var(--text-p);
}

.team .member .social {
  margin-top: 10px;
}

.team .member .social a {
  transition: color 0.3s;
  color: var(--text-p);
}

.team .member .social a:hover {
  color: var(--hover-icon);
}

.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: var(--primary-color);
}

#footer .footer-top {
  padding: 45px 0 10px 0;
  background: var(--white); /* background footer top */
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--text-p); /* warna tulisan lombation pada footer */
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: var(--footer-p); /* Warna text p pada footer */
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-p); /* Warna pada judul footer (klasifikasi, link tautan, kontak kami) */
  position: relative;
  padding-bottom: 12px;
  padding-top: 4px;
}

#footer .footer-top .footer-links {
  margin-bottom: 0px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--primary-color); /* Panah kanan */
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--footer-p); /* warna pada List footer */
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--hover-icon); /* hover tulisan list footer */
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--primary-color); /* Warna icon jaringan sosial */
  color: var(--white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--hover-icon); /* Hover pada tulisan jaringan sosial */
  color: var(--white);
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 22px;
  padding-bottom: 21px;
  color: var(--white); /* Warna tulisan footer bottom */
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 14px;
}

#footer .credits a {
  transition: 0.3s;
  color: var(--white); /*Warna tulisan tim pengembang pada footer*/
}
#footer .credits a:hover {
  transition: 0.3s;
  color: var(--hover-icon); /*Warna tulisan tim pengembang pada footer*/
}
@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}
